.ui.card,
.ui.cards>.card{
    /* background: linear-gradient(#005b4f, #00897b); */
    background: -webkit-linear-gradient(70deg, #00897b 40%, #005b4f 40%);
    box-shadow: 5px 10px;
    border-radius: 25px;

}

#cardback{
    width: 75%;
    margin: auto;
    margin-top: 40px;
    background: linear-gradient(#029191b1, rgba(17, 175, 160, 0.831));
    border-radius: 15px;
}

.ui.grid.center.aligned {
    padding-top: 50px;
}

.fluid-container{
    background: #074444;
    height: 1500px;
    border-radius: 25px;
    padding-top: 1px;
}

#searchbar{
    background: #1b6363;
    height: 8%;
    width: 60%;
    margin: auto;
    border-radius: 15px;
    margin-top: 3%;
}

#searchbar2{
    background: #1b6363;
    height: 8%;
    width: 60%;
    margin: auto;
    border-radius: 15px;
    margin-top: 5%;
}


  
  /* svg {
      height: 100%;
      width: 100%;
    }
    path{
      stroke: #fff;
      stroke-width: 1px;
      fill: none;
      stroke-dasharray: 150, 200;
      stroke-dashoffset: 0;
      animation: pulse 4s infinite linear;
  
    }
  
  @keyframes pulse {
    0% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: 1050;
    }
  }

  .ecg{
      background: black;
      margin-top: 5%;
  } */

