#grass{
    background-image: url("https://thumbs.gfycat.com/JampackedParallelCarp-max-1mb.gif");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 5px;
    height: 100vh;
}